<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="dept" class="com.ytinf.vo.Dept">
        <property name="deptno" value="10"/>
        <property name="dname" value="财务部"/>
        <property name="exists" value="yes"/>
        <property name="emps">
            <array> <!-- 明确的表示现在要追加的是数组类型的定义 -->
                <ref bean="empA"/>  <!-- 定义数组的引用内容 -->
                <ref bean="empB"/>  <!-- 定义数组的引用内容 -->
                <ref bean="empC"/>  <!-- 定义数组的引用内容 -->
            </array>
        </property>
        <property name="business">
            <array>
                <value>市场活动</value>
                <value>成人嘻哈</value>
                <value>胡编乱造</value>
            </array>
        </property>
    </bean>
    <bean id="empA" class="com.ytinf.vo.Emp">
        <property name="empno" value="7369"/>    <!-- 内容为字符串，属性类型为Long -->
        <property name="ename" value="SMITH"/>
        <property name="salary" value="899.23"/>    <!-- 内容为字符串，属性类型为Double -->
        <property name="age" value="30"/>
        <property name="hiredate">
            <bean class="java.util.Date"/>  <!-- 调用无参构造 -->
        </property>
        <property name="dept" ref="dept"/>  <!-- 引用其它的Bean配置 -->
    </bean>
    <bean id="empB" class="com.ytinf.vo.Emp">
        <property name="empno" value="7566"/>    <!-- 内容为字符串，属性类型为Long -->
        <property name="ename" value="FORD"/>
        <property name="salary" value="3509.23"/>    <!-- 内容为字符串，属性类型为Double -->
        <property name="age" value="35"/>
        <property name="hiredate">
            <bean class="java.util.Date"/>  <!-- 调用无参构造 -->
        </property>
        <property name="dept" ref="dept"/>  <!-- 引用其它的Bean配置 -->
    </bean>
    <bean id="empC" class="com.ytinf.vo.Emp">
        <property name="empno" value="7839"/>    <!-- 内容为字符串，属性类型为Long -->
        <property name="ename" value="KING"/>
        <property name="salary" value="5000.23"/>    <!-- 内容为字符串，属性类型为Double -->
        <property name="age" value="55"/>
        <property name="hiredate">
            <bean class="java.util.Date"/>  <!-- 调用无参构造 -->
        </property>
        <property name="dept" ref="dept"/>  <!-- 引用其它的Bean配置 -->
    </bean>
</beans>