<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="dept" class="com.ytinf.vo.Dept">
        <property name="deptno" value="10"/>
        <property name="dname" value="财务部"/>
        <property name="exists" value="yes"/>
        <property name="projects">
            <props> <!-- 设置Properties属性的内容 -->
                <prop key="crm">客户关系管理系统</prop>
                <prop key="erp">企业资源管理系统</prop>
                <prop key="drp">企业销售管理系统</prop>
            </props>
        </property>
    </bean>
</beans>