<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="dept" class="com.ytinf.vo.Dept" p:deptno="20" p:dname="财务部" p:exists="1"/>
    <bean id="hiredate" class="java.util.Date"/>
    <bean id="emp" class="com.ytinf.vo.Emp" p:empno="7369" p:ename="Ford" p:salary="3500.23" p:age="35" p:dept-ref="dept" p:hiredate-ref="hiredate"/>

</beans>